body{
    background: url("images/006 (1).jpg");
}

.m-padded-tb-mini{
     padding-top: 0.2em !important;
     padding-bottom: 0.2em !important;
 }
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 14em !important;
    padding-bottom: 7em !important;
    margin-left: auto !important;
    margin: auto !important;
}

/*------------display-------*/
.m-inline-block{
    display: inline-block !important;
}

/*------------container--------*/
.m-container{
    max-width: 100em !important;
    margin: auto !important;
}

.m-margin-th-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-top-right{
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.m-mobile-show{
    display: none !important;
}

@media screen and (max-width: 768px) {
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
}

/*----------shadow------------*/
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

.m-margin-th-small{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

/*--------------position-----------*/
.m-fixed{
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom{
    bottom: 2em !important;
    right: 0 !important;
}