<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/semantic.min.css}">
    <link rel="stylesheet" href="../css/mycss.css" th:href="@{/static/css/mycss.css}">
</head>
<body>
    <!-- 导航 -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui inverted secondary menu">
            <div class="ui stackable container">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" th:href="@{/admin/blog}" class="m-item item m-mobile-hide active"><i class="home  icon"></i>博客</a>
                <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide "><i class="idea icon"></i>分类</a>
                <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../../images/002.jpg" th:src="@{/static/images/002.jpg}" style="width: 50px; height: 60px" alt="" class="ui small avatar image">
                            我
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="ui my item icon black button m-top-right m-mobile-show">
            <i class="sidebar icon">
            </i>
        </a>
    </nav>

    <div class="ui attached pointing menu">
        <div class="container">
            <div class="right menu">
                <a href="" class="item">发布</a>
                <a href="" class="active item">列表</a>
            </div>
        </div>
    </div>

    <!-- 中间内容 -->
    <div class="ui stackable content m-padded-tb-large m-container">
        <div class="ui content">
            <form action="#" method="post" class="ui segment form">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <div class="ui left labled input">
                            <div class="ui selection dropdown label">
                                <input type="hidden" value="原创">
                                <i class="dropdown icon"></i>
                                <div class="default text">原创</div>
                                <div class="menu">
                                    <div class="item" data-text="原创">原创</div>
                                    <div class="item" data-text="翻译">翻译</div>
                                    <div class="item" data-text="转载">转载</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
            </form>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>刻意升级</td>
                        <td>可以升级</td>
                        <td>可以失败</td>
                        <td>2020-3-20</td>
                        <td>
                            <a href="#" class="ui small basic teal button">编辑</a>
                            <a href="#" class="ui small basic red button">删除</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui floated pagination menu">
                                <a href="#" class="item">上一页</a>
                                <a href="#" class="item">下一页</a>
                            </div>
                            <a href="" class="ui mini right floated teal basic button">新增</a>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!-- 底部footer -->
    <footer class="ui inverted vertical segment">
        <div class="ui content">
            <div class="ui inverted divided grid">
                <div class="three wide column">
                    <img src="static/images/萝莉.jpg" th:src="@{/static/images/萝莉.jpg}" class="ui rounded image" alt="" style="width: auto">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted centered header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted centered header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted centered header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
        </div>
    </footer>


    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="../js/semantic.min.js" th:src="@{/static/js/semantic.min.js}"></script>

    <script>
        $('.my.item').click(function () {
            $('m-item').toggleClass('m-mobile-hide');
            $('m-item').toggleClass('m-mobile-show');
        });

        $('.my.button').popup({
            position : 'bottom center'
        });

        $('.ui.dropdown')
            .dropdown({
                on: 'hover'
            });
    </script>
</body>

</html>