<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>

    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" th:href="@{/static/css/semantic.min.css}">
    <link rel="stylesheet" href="/css/mycss.css" th:href="@{/static/css/mycss.css}">
</head>
<body>
    <!-- 导航 -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui inverted secondary menu">
            <div class="ui stackable container">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" th:href="@{/admin/blog}" class="m-item item m-mobile-hide"><i class="home  icon"></i>博客</a>
                <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide "><i class="idea icon"></i>分类</a>
                <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../../images/002.jpg" style="width: 50px; height: 60px" alt="" class="ui small avatar image">
                            我
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="ui my item icon black button m-top-right m-mobile-show">
            <i class="sidebar icon">
            </i>
        </a>
    </nav>

    <!-- 中间内容 -->
    <div class="ui stackable content m-padded-tb-large m-container">
        <div class="ui container">
            <div class="ui success large message">
                <h2>Hi!</h2>
                <p>helloworld</p>
            </div>
            <img src="../../static/images/001.jpg" alt="" class="ui rounded bordered fluid image">
        </div>
    </div>

    <!-- 底部footer -->
    <footer class="ui inverted vertical segment">
        <div class="ui content">
            <div class="ui inverted divided grid">
                <div class="three wide column">
                    <img src="../../static/images/萝莉.jpg" class="ui rounded image" alt="" style="width: auto">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted centered header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted centered header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted centered header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
        </div>
    </footer>


    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/js/semantic.min.js" th:src="@{/static/js/semantic.min.js}"></script>

    <script>
        $('.my.item').click(function () {
            $('m-item').toggleClass('m-mobile-hide');
            $('m-item').toggleClass('m-mobile-show');
        });

        $('.my.button').popup({
            position : 'bottom center'
        });

        $('.ui.dropdown')
            .dropdown({
                on: 'hover'
            });


    </script>
</body>

</html>