<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类新增</title>

    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" type="text/css" href="../../semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.min.css">
</head>
<body>
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui stackable container">
            <div class="ui inverted secondary menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home  icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide "><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../../static/images/002.jpg" style="width: 50px; height: 60px" alt="" class="ui small avatar image">
                            我
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
                <a href="" class="ui my item icon black button m-top-right m-mobile-show">
                    <i class="sidebar icon">
                    </i>
                </a>
            </div>
        </div>
    </nav>

    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="" class="item">发布</a>
                <a href="" class="active item">列表</a>
            </div>
        </div>
    </div>

    <!-- 中间内容 -->
    <div class="ui stackable content m-padded-tb-large m-container">
        <div class="ui container">
            <form action="#" method="post" th:object="${type}" th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})}"  class="ui form">
                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">名称</label>
                        <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                    </div>
                </div>
                <div class="ui error message"></div>
                <!--/*/
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                    <i class="close icon"></i>
                    <div class="header">验证失败</div>
                    <p th:errors="*{name}">提交信息不符合规则</p>
                </div>
                /*/-->
                <div class="ui right aligned container">
                    <button type="button" class="ui secondary button" onclick="window.history.go(-1)">返回</button>
                    <button type="button" class="ui teal submit button" >提交</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 底部footer -->
    <footer class="ui inverted vertical segment">
        <div class="ui content">
            <div class="ui inverted divided grid">
                <div class="three wide column">
                    <img src="static/images/萝莉.jpg" class="ui rounded image" alt="" style="width: auto">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted centered header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted centered header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted centered header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                        <a href="#" class="item">用户故事 （User Story）</a>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
        </div>
    </footer>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="../../static/js/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js"></script>

    <script>
        $('.my.item').click(function () {
            $('m-item').toggleClass('m-mobile-hide');
        });

        $('.my.button').popup({
            position : 'bottom center'
        });

        $('.ui.dropdown')
            .dropdown({
                on: 'hover'
            });

        $('.ui.form').form({
           fields : {
               title : {
                   identifier : 'nam1',
                   rules : [{
                       type : 'empty',
                       prompt : '请输入分类名称'
                   }]
               }
           }
        });

    </script>
</body>

</html>